<%= content_for(:title) { 'Sources | Maui Bus Routes' } %>
<div>
  <h3 class="well app-subheader"><span class="hidden-phone">My&nbsp;</span>Sources</h3>

  <div>
    <p>
      The PDF bus schedule from the county
      <b>(<a href="http://co.maui.hi.us/documents/21/BusFixRouteSchedule_201212281341180673.pdf" target="_blank">co.maui.hi.us</a>)</b>
      was useful as a starting point, but is way out of date. The map images
      <b>(<a href="http://mobilemaplets.com/showplace/8327" target="_blank">mobilemaplets.com</a>)</b>
      were useful for finding stops not listed on the PDF. Google Maps for their API, bus stops and times.
    </p>
    <ul class="">
      <li><%= link_to('Google Maps', 'https://maps.google.com/', target: '_blank') %></li>
      <% @files.each do |f| %>
          <li><%= link_to(f, "/sources/#{f}") %></li>
      <% end %>
    </ul>
  </div>
</div>