<h3 class="well app-subheader comment">
  <b>$2 GENERAL BOARDING </b>- All Routes (including Commuter and ADA Paratransit Service).
  There will be no charge for transfers to other Maui Bus commuter routes.
  See the <%= link_to('Maui County site', 'http://www.co.maui.hi.us/index.aspx?NID=609', target: '_blank') %>
  more information on <%= link_to('buses', 'http://www.co.maui.hi.us/index.aspx?NID=606', target: '_blank') %>
  and <%= link_to('commuter routes', 'http://www.co.maui.hi.us/index.aspx?NID=608', target: '_blank') %>.
</h3>