<h3 class="well app-subheader comment">
  This is an <%= link_to('open source project', 'https://github.com/ridiculous/maui-bus', title: 'Public repository on Github', target: '_blank') %> hosted on a free tier at <%= link_to('Heroku', 'https://www.heroku.com', target: '_blank', title: 'Heroku web hosting') %>. Any comments, corrections or feedback are welcomed.
</h3>