<h3 class="well app-subheader comment">
  This is an open source project running on a free tier at
  <%= link_to('Heroku', 'https://www.heroku.com', target: '_blank') %>
  and hosted on <%= link_to('Github', 'https://github.com/ridiculous/maui-bus', target: '_blank') %>.
  Any comments, corrections or feedback are welcomed.
</h3>