<h3 class="well app-subheader comment alert-comment closable">
  Download the Maui County mobile app (<a href="https://itunes.apple.com/us/app/transloc-rider-transit-tracking/id751972942?mt=8" target="_blank">iOS</a> or
  <a href="https://play.google.com/store/apps/details?id=com.transloc.android&hl=en" target="_blank">Android</a>).
  <a href="javascript:;" class="closable-x" id="mobile_app_p_1">Okay, got it</a>
</h3>
