<h3 class="well app-subheader comment">
  <b>Bus Rules</b> - The Maui Bus has <a href="http://www.co.maui.hi.us/606/Bus-Rules" target="_blank">a list of rules to follow</a> when riding the bus.
  An important one to note: if you are coming from the <b>airport</b>, beware, <b>you cannot bring a suite case or large bag onto the bus</B>. If you have anything more than a backpack,
  ya might need to call an <a href="http://mauinow.com/2016/05/27/the-maui-uber-experience/" target="_blank">Uber</a>.
  <a href="javascript:;" class="closable-x" id="bus_rules_1">Okay, got it</a>
</h3>
