<div class="c">
  <% if route.note %>
      <div class="c pad5" style="font-size: 13px;"><%= route.note.html_safe %></div>
  <% end %>
  <% route.buses.each_with_index do |bus, i| %>
      <%= content_tag(:div, class: "fl mr15 bus-#{i + 1}") do %>
          <h5 class="well mini">Upcoming Stops
            <% if route.buses.length > 1 %>
                -
                <%= content_tag(:span, "Bus #{i + 1}") %>
            <% end %>
          </h5>
          <ul class="mba-list">
            <% if bus.next_stops.any? %>
                <%= upcoming_stops(bus) %>
            <% else %>
                <li>Nothing going on here</li>
            <% end %>
          </ul>
      <% end %>
  <% end %>
  <div class="c"></div>
</div>