<div class="regions">
  <%#= maui_bus_alert %>
  <div class="well">
    <h3 class="well-header app-subheader">
      Pick a Region
    </h3>
    <div class="well-content">
      <ul class="inline">
        <% @regions.each do |region| %>
          <li><%= link_to(region, show_region_path(region.downcase), class: 'btn list btn-large') %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <%= render('general_info') %>
  <%= render('insight') %>
</div>
