<div class="regions">
	<% if Date.current < Date.parse('Saturday, August 9, 2014') %>
		<div class="mb10">
			<h3 class="well app-subheader comment alert-comment">
				<b>Alert</b> - County Will Suspend Maui Bus Service Thursday & Friday Because of Storms Iselle & Julio.
				Read more at <a href="http://mauifeed.com/maui-news/county-will-suspend-maui-bus-service-thursday-friday-because-of-storms-iselle-julio/">mauifeed.com</a>
			</h3>
		</div>
	<% end %>
  <div class="well">
    <h3 class="well-header app-subheader">
      Pick a Region
    </h3>
    <div class="well-content">
      <ul class="inline">
        <% @regions.each do |region| %>
          <li><%= link_to(region, show_region_path(region.downcase), class: 'btn list btn-large') %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <%= render('general_info') %>
  <%= render('insight') %>
</div>
