<div class="regions">
  <div class="mb10">
    <h3 class="well app-subheader comment alert-comment">
      <b>News</b> - The County has released a mobile app for the Maui Bus that provides realtime bus tracking!
      Check out the web version at <a href="http://mauibus.transloc.com/" target="_blank">mauibus.transloc.com</a> or
      download the app (<a href="https://itunes.apple.com/us/app/transloc-rider-transit-tracking/id751972942?mt=8" target="_blank">iOS</a>,
      <a href="https://play.google.com/store/apps/details?id=com.transloc.android&hl=en" target="_blank">Android</a>).
    </h3>
  </div>
  <div class="well">
    <h3 class="well-header app-subheader">
      Pick a Region
    </h3>

    <div class="well-content">
      <ul class="inline">
        <% @regions.each do |region| %>
            <li><%= link_to(region, show_region_path(region.downcase), class: 'btn list btn-large') %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <h3 class="well app-subheader comment">
    <b>RULES</b>
    For your safety and the safety of others:
    • Be at the bus stop at least 5 minutes prior to
    departure time. Wait on proper side of the road
    for the bus to arrive at the bus stop sign. Wait for
    the bus to make a complete stop before
    approaching the bus.
    • Enter the bus with the exact fare or have your
    pass visible.
    • Infants under 2 years old, traveling free must ride
    on the lap of an accompanying adult.
    • Allow senior citizens the use of front seating.
    •Be alert at all times for sudden or quick stops.
    • When standing, please move to the rear of the bus
    and always hold on to standee handbars or seatbars.
    • Do not change seats after the bus starts moving
    and fasten your seatbelts.
    • One (1) Medium-sized suitcase, duffle bag, backpack,
    or carry-on bag allowed, no larger than
    22”H x 14”W x 9”L and must fit and be placed
    under the passenger’s seat or on the passenger’s
    lap so that they do not protrude to another seat.
    • All buses are equipped with a bicycle rack that can
    hold a maximum of two (2) bicycles. Only twowheeled,
    non-motorized bicycles are permitted.
    Both tires must sit flat to the base of the rack.
    Bicycles with an oversized basket or other type of
    carrier that obstructs the view of the driver is not
    permitted. No gas or electric bicycles allowed.
    • Grocery bags that a passenger can carry in their
    arms and be placed on their lap or under the
    seat are allowed. Bags filled with bottle and can
    recyclables are not allowed.
    • Golf clubs or detachable fishing poles properly
    covered or in a container with no sharp edges are
    limited to three per person.
    • Soft body boards without skegs and beach mats
    free of sand and debris are allowed.
    • Metal-framed child carriers, collapsible baby
    strollers, band instruments, skateboards, beach
    chairs and small coolers are limited to one per
    person.
    • Pets must be in an enclosed container or cage.
    • Service animals are allowed on the bus.
    • Shirt and footwear are required.
  </h3>
  <%= render('general_info') %>
  <%= render('insight') %>
</div>
