<div class="regions">
  <h3 class="well app-subheader">Pick a Region</h3>
  <ul class="inline">
    <% @regions.each do |region| %>
        <li><%= link_to(region, show_region_path(region.downcase), class: 'btn list btn-large') %></li>
    <% end %>
  </ul>
  <div>
    <h3 class="well app-subheader">
      $2 GENERAL BOARDING - All Routes (including Commuter and ADA Paratransit Service)
    </h3>
  </div>
</div>
