<footer>
  <div style="padding: 5px 20px;">
    <div style="float:left;">
      <%= "Time: #{in_format(Time.zone.now)}" %>
    </div>
    <div style="float:right;">
      Bus times wrong or missing? Let me know
      <a href="https://twitter.com/arebuckley">@arebuckley</a>
      <span style="margin-left: 5px;margin-right:5px">|</span>
      <%= Version::CURRENT %>
    </div>
  </div>
  <div class="c"></div>
</footer>
