<footer>
  <div style="padding: 5px;">
    <div class="hidden-phone fl">
      <%= "Time: #{in_format(Time.zone.now)}" %>
    </div>
    <div class="fr">
      <%= link_to('Contact', 'https://twitter.com/arebuckley', class: 'green mr5', title: 'Contact me on Twitter') %>
      <%= link_to('Sources', sources_path, title: 'View my sources', class: 'mr5') %>
      <%= "v#{Version::CURRENT}" %>
    </div>
    <div class="c"></div>
  </div>
</footer>
